<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" 
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
          crossorigin="anonymous">

    <script>
    function httpPostAsync(url, body, callback) {
        let xmlHttp = new XMLHttpRequest();
        xmlHttp.onreadystatechange = function() {
            if (xmlHttp.readyState === 4 && callback !== null)
                callback(xmlHttp.status);
        };
        xmlHttp.open('POST', url, true);
        xmlHttp.send(body);
    }
    </script>
    @RenderSection("Scripts", false)
</head>
<body>

@RenderBody()

</body>
</html>